{% extends "base.html" %}
{% block title %}Оформление преступников{% endblock %}

{% block content %}
    <h1>Оформление преступников</h1>

    <form method="post">
        {% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
                <button type="submit">Добавить</button>
            </div>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>Номер дела</th>
                <th>ID</th>
                <th>ФИО</th>
                <th>Статья</th>
                <th>Дата ареста</th>
                <th>Вынесенное наказание</th>
            </tr>
        </thead>
        <tbody>
            {% for criminal in criminals|dictsortreversed:"cs" %}
            <tr>
                <td>{{ criminal.cs }}</td>
                <td>{{ criminal.person_id }}</td>
                <td>{{ criminal.fio }}</td>
                <td>{{ criminal.article_num }}</td>
                <td>{{ criminal.arrest_time }}</td>
                <td>{{ criminal.final_panishment }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Записей пока нет</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
